.blog-list-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 4px;
}
.blog-header {
  display: flex;
  justify-content: space-between;
}

.blog-title {
  font-size: 14px;
  color: #12022f;
  font-weight: 700;
}
.blog-description,
.blog-date {
  font-size: 10px;
  color: #616e7c;
}

@media screen and (min-width: 768px) {
  .blog-title {
    font-size: 18px;
  }
  .blog-description,
  .blog-date {
    font-size: 12px;
    padding-top: 0;
    margin-top: 0;
  }
}
/* 
#9aa5b1
#616e7c
#12022f
 */
